.profile {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 2px solid rgb(101, 9, 110);
  margin-bottom: 40px;
  transition: all ease-in-out 0.3s;
}

.profile:hover,
.profile:focus {
  box-shadow: 0 0 30px 5px rgba(8, 160, 3, 0.753);
}
.description {
  text-align: center;
  margin-bottom: 20px;
}

.avatar_profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 30px 5px rgba(3, 110, 160, 0.5);
}
.avatar_profile:hover,
.avatar_profile:focus {
  box-shadow: inset 0 0 30px 5px rgba(3, 110, 160, 0.5);
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.tag {
  color: gray;
  margin-top: 5px;
}

.location {
  color: gray;
  margin-top: 5px;
}

.stats {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}

.stats li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  color: gray;
}

.quantity {
  font-weight: bold;
}

.tag {
  color: blue;
}

.tag:hover,
.tag:focus {
  color: green;
  cursor: pointer;
}
